body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f2ef;
    font-family: Arial, sans-serif;
}

.loading-container {
    text-align: center;
}

.loading-container img {
    width: 200px;
    height: 200px;
    margin-bottom: 16px;
}
.progress-bar {
    width: 500px;
    max-width: 300px;
    border-radius: 25px;
    height: 10px;
    background-color: #dcdcdc;
    margin: 16px auto 0;
    position: relative;
    overflow: hidden;
}

.progress-bar-inner {
    width: 0;
    height: 100%;
    background-color: #0a66c2;
    transition: width 0.3s ease;
}